{% extends 'base.html.twig' %}

{% block title %}{{ offer.title }}!{% endblock %}

{% block body %}
   
   {{ dump(offer) }}
   <h1>Candidatos:</h1>
      {% for x in candidates %}
         {% if x %}
            {{ dump(x.user.name) }}
            <a download="{{ x.user.name }}-{{ x.user.surname }}-CV" href="{{ asset('files/cv/') ~ x.user.cvname }}">Descargar el CV</a>
         {% endif %}
      {% endfor %}
{% endblock %}
