{% extends 'base.html.twig' %}

{% block title %}{{ offer.title }}!{% endblock %}

{% block body %}
   <h1 style="text-align: center; margin-top:10px" class="text-white">{{ offer.title }}</h1>
   <div class="container" style="background-color: #232325; color: #fff; margin-top: 20px; margin-bottom:70px; max-width: 800px; padding: 30px; border-radius: 10px;">
      <div class="row">
         <div class="col-md-4 text-center">
            <img src="{{ asset('files/company_img/' ~ offer.company.urlImage) }}" alt="Oferta de empleo" style="width: 15rem;">
         </div>
         <div class="col-md-8">
            <div class="row">
               <div class="col-md-12">
                  <h3 class="text-white">{{ offer.company.name }}</h3>
                  <p>Fecha de creaci贸n de la oferta: {{ offer.creationDate|date('Y-m-d') }}</p>
                  <p>Fecha de modificaci贸n de la oferta: {{ offer.updatedDate|date('Y-m-d') }}</p>

                  <h3>Informaci贸n del empleo</h3>
                  <p>{{ offer.weeklyHours.name }} horas semanales</p>
                  <p>{{ offer.locality.name }}</p>
                  <p>Modalidad de trabajo: {{ offer.modality.name }}</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-3">
         <div class="col-md-12">
            <h4>Descripci贸n de la oferta</h4>
            {{ offer.description|nl2br }}
         </div>
      </div>
   </div>

   <h2 class="text-white text-center mb-3">Candidatos:</h2>

   <div class="row mb-5" style="max-width: 70%; margin: 0 auto;">
      {% if candidates != null %}
         <div class="col-12" style="">
            <div class="table-responsive rounded-3" style="background: #2c2c2c; ">
               <table class="table table-striped table tablesorter" style="margin: auto;" id="ipi-table">
                  <thead class="thead-dark">
                     <tr>
                        <th class="text-center" style="background: #4e4e4e;border-radius: 0;">Nombre del Alumno</th>
                        <th class="text-center" style="background: #4e4e4e;">Correo electronico</th>
                        <th class="text-center" style="background: #4e4e4e;">Numero de telefono</th>
                        <th class="text-center" style="background: #4e4e4e;">CV</th>
                     </tr>
                  </thead>
                  <tbody class="text-center">
                  {% for candidate in candidates %}
                     {% if candidate %}
                     <tr data-delete-row="true">
                        <td style="background: #7d7d7d;color: #ffffff;">
                           {{ candidate.User.name }}
                        </td>
                        <td style="background: #7d7d7d;color: #ffffff;">
                           {{ candidate.User.email }}
                        </td>
                        <td style="background: #7d7d7d;color: #ffffff;">
                           {{ candidate.User.phone }}
                        </td>
                        <td style="background: #7d7d7d;color: #ffffff;">
                           <a class="mt-2" download="{{ candidate.User.name }}-{{ candidate.User.surname }}-CV" href="{{ asset('files/cv/') ~ candidate.User.cvname }}" >
                              <button class="btn btn-primary" style="border-radius: 10px">
                                 <i class="fas fa-download"></i>
                                 Descargar el CV
                              </button>
                           </a>
                        </td>
                     </tr>
                     {% endif %}
                  {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      {% else %}
         <h1 style="color: white; text-align: center">La empresa no tienes ofertas</h1>
      {% endif %}
   </div>
{% endblock %}
