{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <div>
        <div class="container-fluid text-white">
            <h1 style="text-align: center">Información de Contacto</h1>
            <hr>
            {{ form_start(form) }}
                <input class="form-control" type="hidden" name="Introduction" value="This email was sent from the-campus-connection.com">
                <input class="form-control" type="hidden" name="subject" value="Awebsite.com Contact Form">
                <input class="form-control" type="hidden" name="to" value="email@awebsite.com">
                <div class="row">
                    <div class="col-md-6">
                        <div id="successfail-1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6" id="message-1">
                        <h2 class="h4">
                            <i class="fa fa-envelope"></i>
                            Contacta con nosotros
                            <small>
                                <small>
                                    <small class="required-input">
                                        &nbsp;(*requerido)
                                    </small>
                                </small>
                            </small>
                        </h2>
                        <div class="form-group mb-3">
                            <label class="form-label" for="from-name">
                                Nombre
                            </label>
                            <span class="required-input">*</span>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-user-o"></i>
                                </span>
                                {{ form_widget(form.name) }}
{#                                <input class="form-control" type="text" id="from-name-1" name="name" required="" placeholder="Nombre Completo">#}
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="from-email">
                                Correo Electrónico
                            </label>
                            <span class="required-input">*</span>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fa fa-envelope-o"></i>
                                </span>
                                {{ form_widget(form.email) }}
{#                                <input class="form-control" type="text" id="from-email-1" name="email" required="" placeholder="Correo Electrónico">#}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-12">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="from-phone">
                                        Teléfono de Contacto
                                    </label>
                                    <span class="required-input">*</span>
                                    <div class="input-group">
                                        <span class="input-group-text">
                                            <i class="fa fa-phone"></i>
                                        </span>
                                        {{ form_widget(form.phone) }}
{#                                        <input class="form-control" type="text" id="from-phone-1" name="phone" required="" placeholder="Teléfono de Contacto">#}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="form-label" for="from-comments">
                                Comentarios
                            </label>
                            {{ form_widget(form.message) }}
{#                            <textarea class="form-control" id="from-comments-1" name="comments" placeholder="Comentarios" rows="5">#}
{#                            </textarea>#}
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-primary d-block w-100" type="reset">
                                        <i class="fa fa-undo"></i>
                                        Vaciar
                                    </button>
                                </div>
                                <div class="col">
                                    {{ form_widget(form.submit) }}
{#                                    <button class="btn btn-primary d-block w-100" type="submit">#}
{#                                        Enviar&nbsp;<i class="fa fa-chevron-circle-right"></i>#}
{#                                    </button>#}
                                </div>
                            </div>
                        </div>
                        <hr class="d-flex d-md-none">
                    </div>
                    <div class="col-12 col-md-6">
                        <h2 class="h4">
                            <i class="fa fa-location-arrow"></i>&nbsp;
                            Donde Estamos
                        </h2>
                        <div class="row">
                            <div class="col-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.492499007851!2d2.096835689143964!3d41.36338339730967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4991f3f55ad2d%3A0xadc2a57bf3e5f8c1!2sAv.%20de%20Josep%20Tarradellas%20i%20Joan%2C%20171%2C%2008901%20L&#39;Hospitalet%20de%20Llobregat%2C%20Barcelona!5e0!3m2!1ses!2ses!4v1681980209092!5m2!1ses!2ses" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6" style="margin-top:50px">
                                <h2 class="h4">
                                    <i class="fa fa-user"></i>&nbsp;
                                    Creadores
                                </h2>
                                <div>
                                    <span class="fw-bolder">Albert Bocanegra Barreiro</span>
                                </div>
                                <div>
                                    <span >albert.bocanegra2003@gmail.com</span>
                                </div>
                                <hr class="d-sm-none d-md-block d-lg-none">
                                <div style="margin-top: 10px">
                                    <span class="fw-bolder">Miguel Ángel Goyanes Rodríguez</span>
                                </div>
                                <div>
                                    <span>mgoyanes92@gmail.com</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12 col-lg-6" style="margin-top:50px">
                                <h2 class="h4">
                                    <i class="fa fa-location-arrow"></i>
                                    Dirección
                                </h2>
                                <div></div>
                                <div>
                                    <span>Av. de Josep Tarradellas i Joan, 171</span>
                                </div>
                                <hr class="d-sm-none">
                                <div>
                                    <span>L'Hospitalet de Llobregat, Barcelona</span>
                                </div>
                                <div>
                                    <span>08901</span>
                                </div>
                                <div>
                                    <abbr>Teléfono:</abbr> 935473257
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
